.rooms-container {
  display: flex;
  justify-content: space-around;
}

.room-card {
  width: 30%;
  text-align: center;
}

.room-card img {
  width: 100%;
  height: 18.75rem;
}
.room-title {
  padding: 1rem;
  font-size: 1.5rem;
}

.room-card .room-info:first-of-type {
  min-height: 3rem;
}

.room-availability {
  padding: 1rem;
}
