.room_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rooms_container {
  display: flex;
  justify-content: space-around;
}

.room_card {
  width: 30%;
  background-color: var(--color-lava-red);
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--color-ash-gray);
  text-align: center;
}

img {
  width: 100%;
  height: 300px;
}

.price {
  color: var(--color-text-light);
}
